{% extends 'base.html.twig' %}

{% block title %}Edit ExamList{% endblock %}

{% block body %}
    <h1>Edit ExamList</h1>

    {{ include('exam_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exam_list_index') }}">back to list</a>

    {{ include('exam_list/_delete_form.html.twig') }}
{% endblock %}
