{% extends 'base.html.twig' %}

{% block title %}ExamList index{% endblock %}

{% block body %}
    <h1>ExamList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exam_list in exam_lists %}
            <tr>
                <td>{{ exam_list.id }}</td>
                <td>{{ exam_list.title }}</td>
                <td>{{ exam_list.status }}</td>
                <td>{{ exam_list.CreatedAt ? exam_list.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exam_list.UpdateAt ? exam_list.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('exam_list_show', {'id': exam_list.id}) }}">show</a>
                    <a href="{{ path('exam_list_edit', {'id': exam_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exam_list_new') }}">Create new</a>
{% endblock %}
