{% extends 'base.html.twig' %}

{% block title %}New ExamList{% endblock %}

{% block body %}
    <h1>Create new ExamList</h1>

    {{ include('exam_list/_form.html.twig') }}

    <a href="{{ path('exam_list_index') }}">back to list</a>
{% endblock %}
