{% extends 'base.html.twig' %}

{% block title %}ExamList{% endblock %}

{% block body %}
    <h1>ExamList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exam_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ exam_list.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ exam_list.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ exam_list.CreatedAt ? exam_list.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ exam_list.UpdateAt ? exam_list.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exam_list_index') }}">back to list</a>

    <a href="{{ path('exam_list_edit', {'id': exam_list.id}) }}">edit</a>

    {{ include('exam_list/_delete_form.html.twig') }}
{% endblock %}
