<style>

    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    
        body{
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <main style="max-width: 1000px;margin:0 auto;padding: 75px 50px 50px">
        <section>
            <div style="border-bottom: 1px solid #000000; padding-bottom: 20px;">
                <div style="float: left; width: 80%; margin-top: 20;">
                    <h1 style="margin:0 0 10px;font-size:25px;padding:0;text-transform: uppercase;color: #002157; font-family: 'Raleway', sans-serif;">
                        {% if resume.biodata.FullName is defined %}
                           {{resume.biodata.FullName}}
                        {% endif %}
                    </h1>
                    <div style="font-size:16px;">
                        Mobile:
                        {% if resume.biodata.mobileNumber is defined %}
                        <a style="color: inherit;text-decoration: none; font-family: 'Raleway', sans-serif;"  href="tel:{{resume.biodata.mobileNumber}}">
                           
                            {{resume.biodata.mobileNumber}}
                        </a>
                        {% endif %}
                        {% if resume.biodata.anotherNumber is defined %}
                        <a style="color: inherit;text-decoration: none; font-family: 'Raleway', sans-serif;"  href="tel:{{resume.biodata.anotherNumber}}">                   
                            {{resume.biodata.anotherNumber}}
                        </a>
                        {% endif %}
                    </div>
                    <div style="font-size:16px;">
                        Email:
                        {% if resume.biodata.contactEmail is defined %}
                        <a style="color: inherit;text-decoration: none;" href="mailto:{{resume.biodata.contactEmail}}">                    
                            {{resume.biodata.contactEmail}}
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div style="float: left; width: 20%;">                    
                        <div style="height: 130px; min-width: 130px; width: 130px; border-radius: 100%">
                            {% if resume.biodata.photo is defined %}
                            <img style="height: 130px; min-width: 130px; width: 130px; border-radius: 100%" src="http://image.jobalart.com/{{resume.biodata.photo}}" alt="{{resume.biodata.fullName}}">
                            {% else %}
                                <img style="height: 130px; min-width: 130px; width: 130px; border-radius: 100%" src="http://image.jobalart.com/images/avatar.png" alt="Profile Picture">
                            {% endif %}
                    </div>
                </div>
                <div style="clear: both;"></div>




            </div>

        </section>
        {% if resume.biodata.objectives is defined %}
        <!-- Career Objective start -->
        <section style="margin: 20px 0 0;">
            <div style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;" >Career Objective:</h3>
            </div>
            <p style="font-size:16px;">    
                {% autoescape %}
                    {{resume.biodata.objectives | raw}}
                {% endautoescape %}
            </p>
        </section>
        <!-- Career Objective end -->
        {% endif %}
        {% if resume.biodata.careerDescription is defined %}
        <!-- description start -->
        <section>
            <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Career Description:</h3>
            </div>
            
            <p style="font-size:16px;">
                {% autoescape %}
                    {{resume.biodata.careerDescription | raw}}
                {% endautoescape %}
            </p>
        </section>
        <!-- description end -->
        {% endif %}
        <!-- Salary expectation -->
        {% if resume.userSalaryExpectation is defined %}
        <section style="margin: 20px 0 0;color: #002157;">
            <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Salary Expectation: </h3>
            </div>        
            <p style="font-size: 16px; margin-top: 10px;">{{ resume.userSalaryExpectation.currencyCode }} {{resume.userSalaryExpectation.expectedSalary}}</p>
        </section>
        {% endif %}
        {% if resume.experiences %}
        <!-- Employment History start -->
        <section style="margin: 20px 0 0;">
            <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Employment History:</h3>
            </div>
            
            <!-- experiences start -->
            <div>
        {% if resume.userTotalExperiences is defined %}
        <!-- total experience -->
        <h4 style="margin: 15px 0 10px;">
            Total Year of Experience : 
                
            {% if resume.userTotalExperiences.years>1 %}
                 {{resume.userTotalExperiences.years}}Years
            {% else %}  
                 {{resume.userTotalExperiences.years}}Year
            {% endif %}
            {% if resume.userTotalExperiences.months>1 %}
                 {{resume.userTotalExperiences.months}}Months
            {% else %}  
                 {{resume.userTotalExperiences.months}}Month
            {% endif %}         
        </h4>
        {% endif %}    
                
        </section>
        <section>
            <div style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Work Experience: </h3>
            </div>

            {% for experience in resume.experiences %}
                <!-- single experience start -->
                <div style="margin: 10px 0 0; border-bottom: 1px solid #e6e6e6;">
                    <p style="font-size: 16px;margin: 5px 0 0;">
                        <span style="font-weight: 700; margin-right: 2px;">Designation:</span> <span>{{experience.jobTitle}}</span>
                    </p>
                    <p style="font-size: 16px; margin: 5px 0 0;">
                        <span style="font-weight: 700; margin-right: 2px;">Company Name:</span><span> {{experience.companyName}} </span>
                        </p>
                        <p style="font-size: 16px;margin: 5px 0 0;">
                            <span style="font-weight: 700; margin-right: 2px;">Company Location:</span> <span>{{experience.companyLocation}}</span>
                        </p>
                        <p style="font-size: 16px; margin: 5px 0 0;">
                            <span style="font-weight: 700; margin-right: 2px;">Duration:</span> <span>{{ experience.fromDate  | date('j, F Y') }} - {{ experience.toDate!=''? experience.toDate  | date('j, F Y') : 'Continuing'}}</span>
                        </p>
                        
                   <div style="font-size: 16px;margin: 5px 0 0;">
                       <p style="font-weight: 700; margin-bottom: 0; margin-right: 2px;">Job Description:</p>
                    <p style="font-size: 16px;">
                        {% autoescape %}
                            {{ experience.jobDescription | raw}}
                        {% endautoescape %}
                    </p>
                   </div>
                </div>
                <!-- single experience end -->
            </div>
            <!-- experiences end -->
            {% endfor %}
        </section>
        <!-- Employment History end -->
        {% endif %}
        {% if resume.qualification is defined %}
        <!-- Academic Qualification start -->
        <section style="margin: 20px 0 0;">
            <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;"><h3 style="padding: 10px 0;">Academic Qualification:</h3></div>
            <div style="font-size:16px; margin-top: 15px;">
    
                <table style="width: 100%;">
                    <tr>
                        <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                            Levle Of Education
                        </th>
                        <th style="font-size: 16px; text-align: left;color: #002157; width: 30%">
                            Institution Name
                        </th>
                        <th style="font-size: 16px; text-align: left;color: #002157; width: 20%;">
                            Field of Study
                        </th>
                        <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                            Passing Year
                        </th>
                        <th style="font-size: 16px; text-align: left;color: #002157;">
                            Result
                        </th>
                    </tr>
                    {% for qualification in resume.qualification %}
                    <tr>
                        <td style="font-size: 15px;">
                            {% if qualification.exam %}
                                {{qualification.exam.title}}
                            {% endif %}
                        </td>
                        <td style="font-size: 15px;">
                            {{qualification.institute}}
                        </td>
                        <td style="font-size: 15px;">
                            {{qualification.subject}}
                        </td>
                        <td style="font-size: 15px;">
                            {{qualification.endYear}}
                        </td>
                        <td style="font-size: 15px;">
                            {{qualification.result}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <!-- Academic Qualification end -->
        {% endif %}
        <!-- Certificate Area -->
        {% if resume.certificates is defined %}

            <section style="margin: 20px 0 0;">
                <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;"><h3 style="padding: 10px 0;">Certificates:</h3></div>
                <div style="font-size:16px; margin-top: 15px;">

                    <table style="width: 100%;">
                        <tr>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Title
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 30%">
                                Certificate Details
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Institute
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%;">
                                Certificate License
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Validity
                            </th>
                        </tr>
                        {% for certificates in resume.certificates %}
                            <tr>
                                <td style="font-size: 15px;">
                                    {{certificates.certificate}}
                                </td>
                                <td style="font-size: 15px;">
                                    {% autoescape %}
                                        {{ certificates.certificateDetails | raw}}
                                    {% endautoescape %}
                                </td>
                                <td style="font-size: 15px;">
                                    {{certificates.institution}}
                                </td>
                                <td style="font-size: 15px;">
                                    {{certificates.certificateOrLicenceNumber}}
                                </td>
                                <td style="font-size: 15px;">
                                    {{certificates.validity}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>

        {% endif %}
        <!-- End Certificate Area -->
        <!-- Additional Group Area -->
        {% if resume.additionalGroup is defined %}
            <section style="margin: 20px 0 0;">
                <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;"><h3 style="padding: 10px 0;">Additional Group:</h3></div>
                <div style="font-size:16px; margin-top: 15px;">

                    <table style="width: 100%;">
                        <tr>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Title
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 30%">
                                Details
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                From Date
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%;">
                                End Date
                            </th>
                        </tr>
                        {% for additionalGroup in resume.additionalGroup %}
                            <tr>
                                <td style="font-size: 15px;">
                                    {{additionalGroup.groupTitle}}
                                </td>
                                <td style="font-size: 15px;">
                                    {% autoescape %}
                                        {{ additionalGroup.additionalGroupDescription | raw}}
                                    {% endautoescape %}
                                </td>
                                <td style="font-size: 15px;">
                                    {{additionalGroup.fromDate}}
                                </td>
                                <td style="font-size: 15px;">
                                    {{additionalGroup.endDate}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>

        {% endif %}
        <!-- End of Additional Group Area -->
        <!-- Awards Area -->
        {% if resume.awards is defined %}
            <section style="margin: 20px 0 0;">
                <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;"><h3 style="padding: 10px 0;">Awards:</h3></div>
                <div style="font-size:16px; margin-top: 15px;">

                    <table style="width: 100%;">
                        <tr>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Title
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 30%">
                                Award Details
                            </th>
                            <th style="font-size: 16px; text-align: left;color: #002157; width: 20%">
                                Validity
                            </th>
                        </tr>
                        {% for awards in resume.awards %}
                            <tr>
                                <td style="font-size: 15px;">
                                    {{awards.awardTitle}}
                                </td>
                                <td style="font-size: 15px;">
                                    {% autoescape %}
                                        {{ awards.awardDetails | raw}}
                                    {% endautoescape %}
                                </td>
                                <td style="font-size: 15px;">
                                    {{awards.awardDate}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>

        {% endif %}
        <!-- End of Awards Area -->
        {% if resume.skills %}
        <!-- Skills : start -->
        <section style="margin: 20px 0 0;">
            <div style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Skills:</h3>
            </div>
            <div style="font-size:16px; margin-top: 15px;">
                    <span style="display: inline-block;margin: 0 15px 10px 0;">
                        {{resume.skills.name}}
                    </span>
            </div>
        </section>
        <!-- Skills : end -->
        {% endif %}
        {% if resume.applicationInfo %}
        <!-- Application Information: : start -->
        <section style="margin: 20px 0 0;">
            <div  style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                <h3 style="padding: 10px 0;">Application Information:</h3>
            </div>
            
            <div style="font-size:16px; margin-top: 10px;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            Looking For
                        </td>
                        <td>
                            :  
                            {{resume.applicationInfo.jobLevel}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Available For
                        </td>
                        <td>
                            : 
                            {{resume.applicationInfo.availableFor}}
                        </td>
                    </tr>
                </table>
    
            </div>
        </section>
        <!-- Application Information: : end -->
        {% endif %}
        {% if resume.biodata %}
        <!-- Personal Details : start -->
        <section style="margin: 20px 0 0;">
            <div style=" padding: 0px 10px; color: #002157; font-weight: 700; background: #e6e6e6;">
                    <h3 style="padding: 10px 0;">Personal Details:</h3>
            </div>
            <div style="font-size:16px; margin-top: 10px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width:30%;">
                            Address
                        </td>
                        <td>
                            : 
                            {{resume.biodata.address}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            : 
                            {{resume.biodata.city}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Zip/ Post Code
                        </td>
                        <td>
                            : 
                            {{resume.biodata.zipPostCode}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            :
                            {% if resume.biodata.countryId.countryName is defined %}
                             {{resume.biodata.countryId.countryName}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nationality
                        </td>
                        <td>
                            : 
                            {{resume.biodata.nationality}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date Of Birth
                        </td>
                        <td>
                            : 
                            {{ resume.biodata.dateOfBirth  | date('j, F Y') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gender
                        </td>
                        <td>
                            : 
                            {{resume.biodata.gender}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            NID/Passport Number
                        </td>
                        <td>
                            : 
                            {{resume.biodata.identityNumber}}
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <!-- Personal Details : end -->
        {% endif %}
    </main>