<form method="post" action="{{ path('skill_lists_delete', {'id': skill_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill_list.id) }}">
    <button class="btn">Delete</button>
</form>
