{% extends 'base.html.twig' %}

{% block title %}Edit SkillLists{% endblock %}

{% block body %}
    <h1>Edit SkillLists</h1>

    {{ include('skill_lists/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('skill_lists_index') }}">back to list</a>

    {{ include('skill_lists/_delete_form.html.twig') }}
{% endblock %}
