{% extends 'base.html.twig' %}

{% block title %}SkillLists index{% endblock %}

{% block body %}
    <h1>SkillLists index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill_list in skill_lists %}
            <tr>
                <td>{{ skill_list.id }}</td>
                <td>{{ skill_list.Title }}</td>
                <td>{{ skill_list.CreatedAt ? skill_list.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ skill_list.UpdateAt ? skill_list.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ skill_list.status }}</td>
                <td>
                    <a href="{{ path('skill_lists_show', {'id': skill_list.id}) }}">show</a>
                    <a href="{{ path('skill_lists_edit', {'id': skill_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skill_lists_new') }}">Create new</a>
{% endblock %}
