{% extends 'base.html.twig' %}

{% block title %}New SkillLists{% endblock %}

{% block body %}
    <h1>Create new SkillLists</h1>

    {{ include('skill_lists/_form.html.twig') }}

    <a href="{{ path('skill_lists_index') }}">back to list</a>
{% endblock %}
