{% extends 'base.html.twig' %}

{% block title %}SkillLists{% endblock %}

{% block body %}
    <h1>SkillLists</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ skill_list.Title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ skill_list.CreatedAt ? skill_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ skill_list.UpdateAt ? skill_list.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ skill_list.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skill_lists_index') }}">back to list</a>

    <a href="{{ path('skill_lists_edit', {'id': skill_list.id}) }}">edit</a>

    {{ include('skill_lists/_delete_form.html.twig') }}
{% endblock %}
