{% extends 'base.html.twig' %}

{% block title %}Edit Templates{% endblock %}

{% block body %}
    <h1>Edit Templates</h1>

    {{ include('templates/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('templates_index') }}">back to list</a>

    {{ include('templates/_delete_form.html.twig') }}
{% endblock %}
