{% extends 'base.html.twig' %}

{% block title %}Templates index{% endblock %}

{% block body %}
    <h1>Templates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TemplateName</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.id }}</td>
                <td>{{ template.templateName }}</td>
                <td>{{ template.createdAt ? template.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ template.updateAt ? template.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ template.status }}</td>
                <td>
                    <a href="{{ path('templates_show', {'id': template.id}) }}">show</a>
                    <a href="{{ path('templates_edit', {'id': template.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('templates_new') }}">Create new</a>
{% endblock %}
