{% extends 'base.html.twig' %}

{% block title %}New Templates{% endblock %}

{% block body %}
    <h1>Create new Templates</h1>

    {{ include('templates/_form.html.twig') }}

    <a href="{{ path('templates_index') }}">back to list</a>
{% endblock %}
