{% extends 'base.html.twig' %}

{% block title %}Templates{% endblock %}

{% block body %}
    <h1>Templates</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>TemplateName</th>
                <td>{{ template.templateName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ template.createdAt ? template.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ template.updateAt ? template.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ template.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('templates_index') }}">back to list</a>

    <a href="{{ path('templates_edit', {'id': template.id}) }}">edit</a>

    {{ include('templates/_delete_form.html.twig') }}
{% endblock %}
